<div class="row">
	<div class="col-lg-12 col-sm-12 widget-container">
		<h1 class=" text-center">Demos</h1>
		<p class="lead text-center">This is where I like to experiment with different programming languages <br>by using them to build something. I will continue to add new widgets weekly.<br><a href="http://luamyemane.com">Back to my site</a> </p>
		<br>
		<div class="widgets col-lg-4 col-md-4 col-sm-12">
			<h1 class="widget-title lead">Minimal Form Demos</h1>
			<p class="lead demo-info">Using JQuery with BootStrap and font-awesome icons</p>

			<div class="morph-button morph-button-inflow morph-button-inflow-1">
				<button type="button" class="watch-now-btn btn btn-default">
					<span> <i class="fa fa-play"></i> &nbsp;&nbsp;Watch Now</span>

				</button>
				<div class="morph-content">
					<div>
						<div class="content-style-form content-style-form-4">
							<h2 class="morph-clone">Register to Watch Webinar</h2>
							<form>
								<div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-user"></i>
									</span>
									<input type="text"  class="form-control" placeholder="Name"/>
								</div>
								<div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-envelope-o"></i>
									</span>
									<input type="text"  class="form-control" placeholder="Email"/>
								</div>

								<div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-phone"></i>
									</span>
									<input type="text"  class="form-control" placeholder="Phone"/>
								</div>
								<p><button type="button" class="submit-btn  btn btn-default">Submit</button></p>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>

		
		
		
		<div class="widgets col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<h1 class="widget-title lead">ToDo List Demos</h1>
			<p class="lead demo-info">
				A simple to-do list using AngularJS &amp; Bootstrap
			</p>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 well todo" ng-app>
				<div ng-controller="TodoCtrl" class="margin-auto">

					
					<ul class="" style="padding-left:0;">
						<li ng-repeat="todo in todos">
							<input type="checkbox" ng-model="todo.done">
							<span class="done-{{todo.done}}">{{todo.text}}</span>
						</li>
					</ul>

					<form ng-submit="addTodo()">
						<input type="text" ng-model="todoText"  size="25" placeholder="add new todo here">
						<input class="btn btn-primary" type="submit" value="add">
					</form>
					<br>
					<span class="text-center">{{remaining()}} of {{todos.length}} remaining</span>&nbsp;&nbsp;&nbsp;
					<a class="btn btn-danger" href="" ng-click="delete()">Delete</a>

				</div>
			</div>
			


		</div>
		<div class="widgets col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<h2 class="widget-title lead">CSS Button Animation</h2>
			<p class="lead demo-info">
				Pure CSS3 only button animation
			</p>
			<section class="social-buttons"> 
				<!-- Facebook -->
				<div class="slide-social">
					<div class="button">
						<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgoogle.com%2F&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>
					</div>
					<div class="facebook icon"> <i class="fa fa-facebook"></i> </div>
					<div class="facebook slide">
						<p>like</p>
					</div>
				</div>
			</section>
			<section class="social-buttons"> 
				<!-- Twitter -->
				<div class="slide-social">
					<div class="button"> <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://google.com" data-text="Google.com" data-via="cssscript">tweet</a> </div>
					<div class="twitter icon"> <i class="fa fa-twitter"></i> </div>
					<div class="twitter slide">
						<p>tweet</p>
					</div>
				</div>
			</section>
			

			<section class="social-buttons"> 
				<!-- Linkedin -->
				<div class="slide-social">
					<div class="button"> 
						<script src="http://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script> 
						<script type="IN/Share" data-url="http://google.com/" data-counter="right"></script> 
					</div>
					<div class="linkedin icon"> <i class="fa fa-linkedin"></i> </div>
					<div class="linkedin slide">
						<p>share</p>
					</div>
				</div>
			</section>
			
			
		</div>


		
		

	</div>
</div>



<!-- Twitter JS --> 
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<script type="text/javascript" src="/js/myJQuery.js"></script>

